<!DOCTYPE html>
<html>
<body>

<h2>I LOVE YOU</h2>

<p id="demo">Kamu sayang gk sama aku?</p>

<button type="button" onclick="myFunction()">Coba Pencet</button>

<script>
function myFunction() {
  document.getElementById("demo").innerHTML = "Makasih Sayang 😊";
}
</script>

</body>
</html> 

<li class="nav-item">
      <a class="nav-link collapsed" href="https://wa.me/6288224859350?text=yo" data-toggle="" data-target="#project"
          aria-expanded="true" aria-controls="project">
          <i class="fab fa-whatsapp"></i>
          <span>Whatsapp</span>
        </a>
        </li>
